<h1> Create a new tea blend!</h1>

<%= form_for(@tea) do |f|%>
  <div class= "input-field">
     <%= f.label :flavor, "Flavor: " %>
     <%= f.text_field :flavor %>
 </div>
 <div class= "input-field">
   <%= f.label :description, "Description: " %>
   <%= f.text_field :description %>
 </div>

 <div class="input-field col s12">
  <select></select>
    <%= f.collection_select :brand_id, Brand.all, :id, :name %> 
  </select>
  <label>Select a Brand that already exists:  </label>
 </div>

<div class= "input-field">
<%=f.fields_for :brand do |b| %> 
  <%=b.label :name, "Brand: " %>
  <%= b.text_field :name%>
<% end %>
</div>
<br>
 <%= f.submit%>
<% end %>  




<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>

<script>
$(document).ready(function)() {
  $('select').material_select();
});
</script>