<h2>Flavor: <%= @tea.flavor%> </h2>


<h3>Brand: <%= @tea.brand_name %> </h3>
<div>
    <p> Description: <%= @tea.description%></p>
</div>
<br>
<h5> Added by: <%= @tea.user.email %> </h5>


<br></br>

<%= link_to "See All Reviews", tea_reviews_path(@tea) %>
