<% if @tea %>
    <h1> Reviews for <%= @tea.brand_name%> - <%= @tea.flavor%> Tea</h1>
      <%= link_to "Add a Review", new_tea_review_path%> 
<% else %>
    <h1> All Reviews </h1>
<% end %>



<ul>
<% @reviews.each do |review| %>


  <li>
   Brand: <%= review.tea.flavor%> <br> Title: <%= link_to review.title, review_path(review)%> <br> Rating: <%= review.rating%> <br> Author: <%= review.user.email %>
  </li>  <br>


<% end %>

</ul>   