

<h1> Write a Review  </h1>



<%= form_for Review.new do |f|%>
 <% if @review.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@review.errors.count, "error") %>
         prohibited this review from being saved:
     </h2>
 
      <ul>
       <% @review.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
     </div>
 <% end %>


    <% if params[:tea_id] %>
     <label> Flavor: <%= @review.tea.flavor %> </label>
     <%= f.hidden_field :tea_id,value: params[:tea_id] %>
    <% else %>
      <div>
        <%= f.label :tea_id, "Select a Tea Blend" %>
        <%= f.collection_select :tea_id, Tea.alpha, :id, :flavor_and_brand, include_blank: true %>
      </div>
    <% end %>
    <div>
        <%= f.label :rating %>
        <%= f.number_field :rating, min:0, max:10 %>
    </div>
    <br>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div> 
    <br>
    <div>
        <%= f.label :content  %>
        <br>
        <%= f.text_area :content, size: "60x25" %>
    </div> 
    <br>



    <%= f.submit %>
<% end %>                  