
<h1>Write a Review   </h1>





<%= form_for @review do |f|%>
 <% if @review.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@review.errors.count, "error") %>
         prohibited this review from being saved:
     </h2>
 
      <ul>
       <% @review.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
     </div>
 <% end %>

 <br>


    <% if params[:tea_id] %>

     <%= f.hidden_field :tea_id,value: params[:tea_id] %>
     <div class= "input-field">
      <input disabled value= <%=@tea.flavor%>    
      <br>
      </div>


    <% else %>
     <div class= "input-field">
          
              <%= f.collection_select :tea_id, Tea.alpha, :id, :flavor_and_brand, include_blank: true %>
        
             <%= f.label :tea_id, "Select a Tea Blend" %> 
     </div>
    <% end %>


    <div class>
        <%= f.label :rating %> 
        <%= f.number_field :rating, min:0, max:10 %>
    </div>

    <br>

     <div class= "input-field">
        <%= f.label :title %> 
        <%= f.text_field :title %> 
    </div> 

    <br>

     <div class= "input-field">
        <textarea id=":content" class="materialize-textarea"></textarea>
        <label for="textarea1"> <%= f.label :content  %> : </label>
    </div> 

    <br>



    <%= f.submit %>
<% end %> 



<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
  </script>