
<h1>Write a Review   </h1>



<%= form_for Review.new do |f|%>
    <% if params[:tea_id] %>
     <%= f.hidden_field :tea_id,value: params[:tea_id] %>
    <% else %>
     <div class= "input-field col s12">
          <select>
              <option value=":tea_id"><%= f.collection_select :tea_id, Tea.alpha, :id, :flavor_and_brand, include_blank: true %></option>
          </select>
          <label> <%= f.label :tea_id, "Select a Tea Blend" %> </label>
     </div>
    <% end %>
    <div class>
        <%= f.label :rating %>
        <%= f.number_field :rating, min:0, max:10 %>
    </div>
    <br>
     <div class= "input-field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div> 
    <br>
     <div class= "input-field">
        <textarea id=":content" class="materialize-textarea"></textarea>
        <label for="textarea1"> <%= f.label :content  %> : </label>
    </div> 
    <br>



    <%= f.submit %>
<% end %>                  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
  </script>